@use './partials/variables' as *;
@use './partials/mixins' as *;
@import '~bootstrap/scss/bootstrap';
@import './side-bar.scss';
@import './show-dish.scss';
@import './show-restaurant.scss';
@import './order-show.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
        background-color: $red;
        color: $white;
        text-align: left;
    }
    th,td {
        padding: 12px 15px;
    }
    tbody tr {
        border-bottom: 1px solid $border-grey;
    }
    tbody tr:nth-of-type(even) {
        background-color: $light-grey;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid $red;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: $red;
    }
    button{
        color: $white;
    }
}
#table-list{
    margin-top: 50px;
    .table-container{
        width: 90%;
        margin: auto;
        padding-bottom: 100px;
    }
}
#main-navbar{
    .my-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
body{
    font-family: 'Roboto', sans-serif;
}
#form{
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
}