@use './partials/variables' as *;
@use './partials/mixins' as *;
@import '~bootstrap/scss/bootstrap';
@import './side-bar.scss';
@import './show-dish.scss';
@import './show-restaurant.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
}
img{
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
        background-color: $light-blue;
        color: $white;
        text-align: left;
    }
    th,td {
        padding: 12px 15px;
    }
    tbody tr {
        border-bottom: 1px solid $border-grey;
    }
    tbody tr:nth-of-type(even) {
        background-color: $light-grey;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid $light-blue;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: $light-blue;
    }
    button{
        color: $white;
    }
}
#table-list{
    margin-top: 50px;
    .table-container{
        width: 90%;
        margin: auto;
        padding-bottom: 100px;
    }
}