@use './partials/variables' as *;
@use './partials/mixins' as *;

body {
    background-color: #dddddd;



    .containerShow {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 30px 0;
        background-color: #ffffff;
        border-radius: 20px;


        .titleDish {
            h1 {
                color: $red;
            }
        }

        .containery {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;


            .cardShow {
                width: 80%;
                height: 360px;
                margin: 0 auto;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #ffffff;

                .cardDescriptionShow {
                    height: 360px;
                    margin-right: 30px;
                    line-height: 1.2;
                    font-size: 16px;
                    width: 80%;
                    color: black;
                    font-weight: 700;
                    border-radius: 20px;
                    background-color: #ffffff;
                }

                .cardImageShow {
                    height: 360px;
                    width: 80%;
                    border-radius: 20px;
                    background-color: #ffffff;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        object-fit: cover;
                    }
                }

            }
        }

        .gradient-1 {
            background-color: $light-blue;
        }

        .gradient-2 {
            background-image: linear-gradient(180deg, $red, $orange);
        }
    }

}


@media (max-width: 768px) {
    body {
        .containery {
            .cardShow {
                flex-direction: column;
                align-items: center !important;



                .cardImageShow {
                    height: 160px !important;
                    width: 100% !important;
                }

                .cardDescriptionShow {
                    height: auto !important;
                    width: 100% !important;
                }
            }
        }
    }
}
