@use './partials/variables' as *;
@use './partials/mixins' as *;

body {
  background-color: #dddddd;

  .containerShow {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    border-radius: 20px;

    .containery {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;


      .cardShow {
        width: 80%;
        height: 360px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background-color: #ffffff;

        .cardDescriptionShow {
          height: 360px;
          margin-right: 30px;
          line-height: 1.2;
          font-size: 16px;
          width: 80%;
          color: black;
          font-weight: 700;
          border-radius: 20px;
          background-color: #ffffff;
        }

        .cardImageShow {
          height: 360px;
          width: 80%;
          border-radius: 20px;
          background-color: #ffffff;

          img {
            width: 100%;
            height: 360px;
            border-radius: 20px;
          }
        }

      }
    }


  }




  // .containerx{
  //   width: 100%;
  //   margin: 0 auto;

  //   .imageAndDescr{
  //     display: flex;
  //     justify-content: space-between;

  //     .cardShow {
  //       width: 80%;
  //       height: 500px;
  //       margin: 0 auto;
  //       display: flex;
  //     }

  //     .cardImageShow{
  //       height: 500px;
  //       padding: 10px;
  //       width: 100%;
  //       background-color: #bbb;

  //       img{
  //           padding-top: 20px;
  //           width: 100%;
  //           height: 460px;
  //       }
  //     }
  //     .cardDescriptionShow{
  //         height:500px;
  //         padding-top: 30px;
  //         line-height: 1.2;
  //         font-size: 16px;
  //         width: 100%;
  //         padding: 10px;
  //         background-color: #bbb;
  //         color: black;
  //         font-weight: 700;
  //     }
  //   }

  // }
}