@use './partials/variables' as *;
@use './partials/mixins' as *;

.side-bar {
    width: 20%;
    min-width: 250px;
    min-height: 100vh;
    background-color: $red;
    padding: 1rem;

    ul {
        .title {
            color: $white;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.8rem;
        }

        li {
            font-size: 1.1rem;
            padding: 0.8rem;

            div {
                display: inline-block;
            }

            i {
                margin-right: 10px;
            }
        }
    }

    a {
        color: $white;
    }
}

@media screen and (max-width:992px) and (min-width:300px) {
    .side-bar {
        width: auto;
        min-width: 80px;

        ul {
            li {
                div {
                    display: none;
                }
            }
        }


    }
}